<!doctype html>
<html>
<head>
	<meta name="description" content="Free downloads of US states, Canadian provinces, territories, and minor possessions in formats you can easily integrate with your project.">
	<title>State Table - Every Site Needs One</title>
	<link rel="canonical" href="http://statetable.com" />

	<link href="/stylesheets/pie.css" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/statetable.css" rel="stylesheet" type="text/css" />
	<script src="/js/jquery-scrollto/scripts/jquery.scrollto.min.js"></script>
	<script src="/js/dist/statetable.min.js"></script>
</head>
<body>

<header><div class="row">

<div id="logo" class="column">
<h1>StateTable.com</h1>
<h2>every site needs one</h2>
</div>

<div id="google_ads" class="column">
<script type="text/javascript"><!--
google_ad_client = "pub-0504230358573274";
/* 468x60, created 8/13/08 */
google_ad_slot = "7966863531";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

</div></header>

<div id="intro" class="row">
<p class="column">Offering downloads of US states, Canadian provinces, territories, and minor possessions in formats you can easily integrate with your project.</p>

<div id="download-options" class="column">
<ul>
<li>CSV</li><li>SQL</li><li>HTML</li><li>PHP</li><li>Drupal</li>
</ul>
</div>

</div></div>

</div>

<div id="main" class="row"><div class="container">
<% include questions.html %>
</div></div>

<footer class="row">

<div id="footer-1" class="column">
<h2>About</h2>
<p>How many times have you been working on a software project and needed a table of states & provinces? For me, it happens at least every other week. And, each client has their own idea of which territories are important, so I can't just use the same table for all of them.</p>
<p>I hope you find this site as useful as I do. Please <a href="mailto:dave@davidmichaelross.com">email me</a> if you have any feedback, or if you have a correction to my data.</p>

<div><a href='http://ko-fi.com?i=8cfd32688ea2666' target='_blank'><img style='border:0px' src='http://ko-fi.com/img/buymeacoffee.png' border='0' alt='Buy Me A Coffee :) @ ko-fi.com' /></a></div>

</div>

<div id="footer-2" class="column">
<h2>Terms</h2>
<p>I make no guarantees this site or its data are accurate. I'll do my best, but don't sic your legal staff on me when the US decides it doesn't want Kingman Reef anymore. Also, I can't guarantee any uptime, and I certainly can't guarantee the site will be up tomorrow. Don't base your business around this site, but feel free to make use of it while it's here.</p>
<p>If you want a warm-fuzzy feeling, remember I'm using this site in my professional life, so I need it to be accurate, too.</p>
</div>

<div id="footer-3" class="column">
<h2>Dave Ross</h2>
<p>I'm a Boston-area web developer with solid experience in "back-end" development, including content management systems, and a passion for design and user experience engineering.</p>

<p><a class="button" href="https://davidmichaelross.com" onClick="_gaq.push(['_trackEvent', 'Links', 'Offsite', 'Dave\'s Portfolio']);">View My Portfolio</a></p>


<p class="colophon">Optimus Princeps font by Manfred Klien. Textures courtesy subtlepatterns.com. Twitter icon by Daniele Selvitella. Checkmark icon by gentleface.com.</p>

<p class=""><a href="http://nodejs.org" target="_blank" onClick="_gaq.push(['_trackEvent', 'Links', 'Offsite', 'Node.js']);"><img src="/images/nodejs.png" /></a></p>

</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6541667-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</div></body>
</html>
